:root{
    --font: "DM Sans", sans-serif;
    --bg-1: #5c3bee;
    --bg-2: #FBFAFF;
    --head: #080415;
}
*, ::before, ::after {box-sizing: border-box; text-decoration: none;}
html {font-size: 62.5%;}
* {font: {size:1.8rem;family: var(--font);weight:400;}margin: 0;padding: 0;}

%heading {font-weight: 700; line-height: 1.5; padding-left: 30px;text-align: center;}

h1 {
    @extend %heading;
    font-size: clamp(5rem,2vw + 1rem, 4rem);
    margin-top: 50px; 
}
h2 {
    display: flex; justify-content: center;
}
code {text-align: center;}
